---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('October 01 2024')}
	heroImage="/about-me-hero.png"
>
	<p>
		AS Computer Science, AS Psychology, AA Anthropology
	</p>
</Layout>
