---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('August 08 2021')}
	heroImage="/brian-hanley.png"
>
	<p>
		AS Computer Science, AS Psychology, AA Anthropology
	</p>
	<img src="/brian-hanley.png" style="align:right;" />
</Layout>
