---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Downloads" description="Class Downloads" />
	</head>
	<body>
		<Header />
        <main>
            <ul>
                <li><a href="/265-midterm-2.pdf" target='_self'>MATH-E265 FA24 Formula Sheet</a></li>
                <li><a href="https://docs.google.com/presentation/d/1FxGmZJahpn3XRRF0acd3RuvW72GkizlraeTkFnYmtWc/edit?usp=sharing" target="_self">INFO-I400 Final Presentation Slides</a></li>
            </ul>
        </main>

        <Footer />
    </body>
</html>