---
import '../flat_icon/flaticon.css';
import '../css/font-awesome.min.css';
import '../css/bootstrap.min.css';
import '../css/lightcase.css';
import '../css/slick.css';
import '../css/slick-theme.css';
import '../css/responsive.css';
import '../css/style.css';


import {SITE_TITLE} from "../consts";
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{SITE_TITLE}</title>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7CPoppins:300,400,500,600,700" rel="stylesheet">

    <!-- jQuery -->
    <script is:inline src="../../public/js/jquery.min.js"></script>
    <script is:inline src="../../public/js/bootstrap.min.js"></script>


    <!-- Bootstrap Progressbar -->
    <script src="/js/bootstrap-progressbar.js"></script>

    <!-- Isotop -->
    <script src="/js/isotope.pkgd.min.js"></script>

    <!-- Lightcase -->
    <script src="/js/lightcase.js"></script>

    <!-- Easing -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Slick -->
    <script src="/js/slick.js"></script>

    <!-- Google Map -->
    <script is:inline type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg"></script>

    <!-- Custom -->
    <script src="/js/custom.js"></script>
  </head>