---

---
<div id="header" class="left_side_content">
      <div class="header_two">
        <button type="button" class="menu-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar first_icon"></span>
          <span class="icon-bar second_icon"></span>
          <span class="icon-bar third_icon"></span>
        </button>
        <div class="header_image">
          <a href="index.html"><img src="../images/about.jpg" alt="Logo" class="img-responsive"></a>
        </div>

        <ul class="left_menu nav">
          <li>
            <a class="page-scroll" href="#header">
              <div class="menu_item">
                <div class="menu_icon flaticon-web"></div>
                <div class="menu_content">
                  <h4>Home</h4>
                  <p>Start to know me</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#about">
              <div class="menu_item">
                <div class="menu_icon flaticon-people"></div>
                <div class="menu_content">
                  <h4>About Me</h4>
                  <p>Who i am</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#resume">
              <div class="menu_item">
                <div class="menu_icon flaticon-curriculum-vitae"></div>
                <div class="menu_content">
                  <h4>Resume</h4>
                  <p>My Previous Story</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#portfolio">
              <div class="menu_item">
                <div class="menu_icon flaticon-suitcase"></div>
                <div class="menu_content">
                  <h4>Portfolio</h4>
                  <p>My Latest Works</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#services">
              <div class="menu_item">
                <div class="menu_icon flaticon-24-hours-service"></div>
                <div class="menu_content">
                  <h4>Services</h4>
                  <p>What We Offer for You</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#blog">
              <div class="menu_item">
                <div class="menu_icon flaticon-blog-comment-speech-bubble-symbol"></div>
                <div class="menu_content">
                  <h4>Blog</h4>
                  <p>Great Pricing Plan</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#pricing">
              <div class="menu_item">
                <div class="menu_icon flaticon-symbol"></div>
                <div class="menu_content">
                  <h4>Pricing</h4>
                  <p>Great Pricing Plan</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#client">
              <div class="menu_item">
                <div class="menu_icon flaticon-blogger"></div>
                <div class="menu_content">
                  <h4>Clients</h4>
                  <p>Get in Touch</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">
              <div class="menu_item">
                <div class="menu_icon flaticon-technology"></div>
                <div class="menu_content">
                  <h4>Contact</h4>
                  <p>Get in Touch</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div><!-- left side content -->